/**************************************
 ** - 21 - Contact Page CSS
 **************************************/
.contact-section .contact-form-3 form .form-control {
    font-size: 15px;
    width: 100%;
    padding: 10px 20px;
    height: 52px;
    color: #333;
    border: none;
    background-color: #f3f3f3;
    font-weight: 600;
    border-radius: 5px;
    text-transform: capitalize;
    border-left: 2px solid #b4b7bd;
    transition: all 0.4s;
}

.contact-section .contact-form-3 form input:focus,
.contact-section .contact-form-3 form textarea:focus {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-left: 2px solid #5e87eb;
}

.contact-information-box-3 {
    background: #fff;
    padding: 25px 20px;
    border-radius: 5px;
    border-bottom: 2px solid #5e87eb;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.03);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.03);
}

.contact-information-box-3 .single-contact-info-box {
    position: relative;
    z-index: 1;
    padding: 10px 10px;
    display: block;
    border-radius: 3px;
    text-align: left;
    margin-bottom: 10px;
    overflow: hidden;
}

.contact-information-box-3 .contact-info {
    position: relative;
    z-index: 1;
}

.contact-information-box-3 .contact-info h6 {
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.contact-information-box-3 .contact-info p {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.contact-information-box-3 .single-contact-info-box .contact-info-bg-icon {
    color: #5e87eb;
    opacity: .2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    margin: 0 auto;
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.contact-information-box-3 .single-contact-info-box .contact-info-bg-icon i {
    font-size: 100px;
}

.contact-section .contact-form .form-group {
    margin-bottom: 30px;
}

.contact-section .contact-form form textarea.form-control {
    height: auto;
    padding-top: 15px;
    line-height: initial;
}

.contact-section .form-message {
    margin: 0;
}

.contact-section .form-message.success {
    background: #03b103;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.contact-section .form-message.error {
    background: #ff4d15;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 30px;
}

/**************************************
 ** Map Section Style
 *************************************/
.map-content #contact-map {
    position: relative;
    width: 100%;
    height: 500px;
    border: 0;
    margin-bottom: -2px;
}